PORT=5026
POSTGRES_DB=hris_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxxxxxx
POSTGRES_PORT=5434
POSTGRES_HOST=localhost
ConnectionStrings__Default=Host=localhost;Port=5434;Database=hris_db;Username=postgres;Password=xxxxxxxx
Jwt__Secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Jwt__Issuer=netcore-api-rbac-starter
Jwt__Audience=netcore-api-rbac-starter
Jwt__AccessTokenExpiryMinutes=60
Jwt__RefreshTokenExpiryDays=7
RequestTimeoutSeconds=30
